<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin for adding checkout field -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_checkout_fields" type="BabaYaga\Checkout\Plugin\AddFieldsToCheckout"/>
    </type>

    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="infoToQuote" type="BabaYaga\Checkout\Plugin\AddInfoToQuoteAddress"/>
    </type>

    <preference for="Magento\Checkout\Api\ShippingInformationManagementInterface" type="BabaYaga\Checkout\Model\ShippingInformationManagement"/>
</config>
