<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <carriers>
        <pickup>
            <active>1</active>
            <title>Free Shipping (Pickup)</title>
            <name>Pickup</name>
            <shipping_cost>0</shipping_cost>
            <!-- This boolean value indicates whether this shipping method should be available for all countries or only those specified -->
            <sallowspecific>0</sallowspecific>
            <sort_order>15</sort_order>
            <model>BabaYaga\Shipping\Model\Carrier\Pickup</model>
        </pickup>
    </carriers>
</default>
</config>
